/.Rproj.user/
/src/cmem.Rproj
.idea/**/
**.pkl
**.csv
._**
**.png
**.txt
**.pdf
**.tar.gz
.DS_Store
.RData
**.Rproj
**.eps
/.idea/
/__pycache__/
**.pyc
**.npy



ApIQ
**.ckpt
wandb/**
results_file**
notes2024.md
tstex_modules/_api.ts

**.ipynb
codes/note.md
